<div class="characters-container d-flex flex-wrap">
    @for (char of data; track $index) {
    <div class="character d-flex flex-column">
        <img [src]="char.image">
        @if (char.isFavorite) {
        <button class="btn favorite btn-active" (click)="onRemoveFavorite(char)">
            <img src="../../../assets/img/black-heart.png">
        </button>
        } @else {
        <button class="btn favorite" (click)="onSaveFavorite(char)">
            <img src="../../../assets/img/heart-outline.png">
        </button>
        }
        <h4 class="creepster-regular"> {{char.name}}</h4>
        <p class="poppins-regular">{{char.species}}</p>
    </div>
    }
</div>
